.container {
  background-color: #f5f7fb;
  width: 100%;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Merriweather Sans", sans-serif;
}

.login-page {
  color: #4d5b9e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn {
  background-color: #4d5b9e;
  color: #f5f7fb;
  padding: 20px 60px 20px 56px;
  border-radius: 10px;
  font-size: large;
  font-family: "Merriweather Sans", sans-serif;
  border: none;
}

.login-btn:hover {
  background-color: #374171;
}

.mc-parent {
    display: flex;
    gap: 5px;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%; /* Ensure the parent container takes full width */
    padding: 10px; /* Add padding if needed */
}

span {
  font-size: 12px;
}

.questions-tab {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  align-self: flex-start;
}

.multiple-choice {
    max-width: 100%; /* Ensure the width does not exceed the parent */
    flex: 1;         /* Allow it to grow and shrink based on the available space */
    border: 1px solid #374171;
    border-radius: 20px;
    padding: 2px 10px;
    font-size: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.multiple-choice:hover {
  background-color: #d6dbf5;
}

.question-body {
  background-color: #f5f7fb;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
}

form {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping if there are too many options to fit in one line */
    gap: 10px; 
  }
  
  label {
    margin-left: 5px;
    font-size: 15px;
    cursor: pointer;
  }

  .answer-btn{
    background-color: #4d5b9e;
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
  }

  .parent-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .correct-answer {
    background-color: lightgreen;
  }
  
  .incorrect-answer {
    background-color: lightcoral;
  }
  
  .multiple-choice {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .multiple-choice input {
    margin-right: 10px;
  }
  